@font-face {
    font-family: "源泉丸ゴシック";
    src: url("./fonts/GenSenRounded-B.ttc");
}

body {
    padding-top: 60px;
    background-color: #101419;
    font-family: "源泉丸ゴシック";
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #2d313c;
    padding: 20px 10px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header h1 {
    padding-left: 30px;
    color: #6ae3f9;
    font-size: 35px;
}

header a {
    color: inherit;
    text-decoration: none;
}

header #clock {
    font-size: 40px;
    letter-spacing: 3px;
    color: #b1b1b1;
    width: 100%;
    position: fixed;
    text-align: center;
}

.card-column-1 {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin: 50px;
}

.status-card,
.bio-card {
    background-color: #424454;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.status-card {
    width: 25%;
}

.status-card .banner {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 15vw;
    width: 100%;
    object-fit: cover;
}

.status-card .icon {
    border-radius: 50%;
    width: 30%;
    margin-left: 10%;
    margin-top: -15%;
    border: solid 3px #3a4048;
    border-right: solid 1px #3a4048;
    border-top: solid 1px #3a4048;
}

.statuses {
    padding: 0 100px 20px;
    color: #bababa;
    font-size: 30px;
}

.status,
.twitter {
    padding-bottom: 10px;
}

.status-title,
.twitter-title {
    color: #55828a;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 0;
}

.status-message,
.twitter-link {
    margin: 0.2em 0;
}

.twitter-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.bio-card {
    width: 45%;
    padding: 20px 35px;
    color: #bababa;
}

.bio-card .bio-title {
    font-size: 18px;
    color: #55828a;
}