@font-face {
    font-family: "源泉丸ゴシック";
    src: url("../zeruku-portfolio/fonts/GenSenRounded-B.ttc") format("truetype");
}

body {
    padding: 60px 50px;
    background-color: #101419;
    font-family: "源泉丸ゴシック";
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #2d313c;
    padding: 20px 10px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header h1 {
    padding-left: 30px;
    color: #6ae3f9;
    font-size: 35px;
}

header a {
    color: inherit;
    text-decoration: none;
}

header #clock {
    font-size: 40px;
    letter-spacing: 3px;
    color: #b1b1b1;
    width: 100%;
    position: fixed;
    text-align: center;
}

.card-column-1,
.card-column-2,
.learned-column-1,
.works-column-1 {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.status-card,
.bio-card,
.location-card,
.language-card,
.urls-card,
.badges-card,
.groups-card {
    background-color: #424454;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.status-card,
.location-card {
    width: 23%;
}

.language-card,
.urls-card,
.badges-card,
.groups-card {
    width: 22.9375%
}

.status-icon {
    border-radius: 50%;
    background-color: #67c23a;
    height: 35px;
    width: 35px;
    margin-top: 35px;
    margin-left: -60px;
    margin-bottom: -65px;
}

.twitter-icon {
    border-radius: 50%;
    background-color: #FFF;
    height: 35px;
    width: 35px;
    margin-left: -60px;
    margin-bottom: -65px;
}

.status-card .banner {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 15vw;
    width: 100%;
    object-fit: cover;
}

.status-card .icon {
    border-radius: 50%;
    width: 30%;
    margin-left: 10%;
    margin-top: -15%;
    border: solid 3px #3a4048;
    border-right: solid 1px #3a4048;
    border-top: solid 1px #3a4048;
}

.statuses {
    padding: 0 50px 20px 125px;
    color: #bababa;
    font-size: 30px;
}

.status {
    margin-bottom: -30px;
}

.status,
.twitter {
    padding-bottom: 10px;
}

.status-title,
.twitter-title,
.language-title,
.urls-title,
.badges-title,
.groups-title {
    color: #55828a;
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 0;
}

.status-message,
.twitter-link {
    margin: 0.2em 0;
}

.twitter-link {
    display: block;
    color: inherit;
    text-decoration: none;
}

.bio-card {
    width: 48.5%;
    height: 570px;
    padding: 20px 35px;
    color: #bababa;
    line-height: 2em;
    letter-spacing: 0.05em;
}

.bio-title,
.location-title {
    font-size: 18px;
    color: #55828a;
}

.bio-card .bio-content {
    color: #BABABA;
    font-size: 24px;
}

.bio-content {
    margin: 12px 0;
    overflow-y: scroll;
}

.location-card {
    padding: 20px 0;
}

.location-title {
    padding: 0 20px;
}

.map-embed {
    margin: 12px 0;
}

.instance-info {
    font-size: 24px;
    padding: 0 24px;
    color: #bababa;
}

.instance-id {
    margin-top: -35px;
    padding-left: 50px;
}

.instance-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 0 0 0;
}

.language-card,
.urls-card,
.badges-card,
.groups-card {
    padding: 20px 35px;
}

.language-badges {
    display: flex;
    justify-content: flex-start;
}

.language-jpn {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: RGB(36, 38, 47);
    text-align: center;
    line-height: 90px;
    color: #bababa;
    font-size: 24px;
}

.urls-badges {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
}

.booth-badge {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.vrchat-badge {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #FFF;
    /* object-fit: cover; */
}

.github-badge {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.learned-title,
.works-title {
    color: RGB(45, 101, 113);
    font-size: 40px;
    margin: 100px 0 40px;
}

.learned-1,
.learned-2,
.learned-3,
.learned-4,
.learned-5,
.work-1,
.work-2,
.work-3,
.work-4,
.work-5 {
    width: 18%;
    height: 300px;
    background-color: #424454;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.learned-1-banner,
.learned-2-banner,
.learned-3-banner,
.learned-4-banner,
.learned-5-banner,
.work-1-banner,
.work-2-banner,
.work-3-banner,
.work-4-banner,
.work-5-banner {
    height: 210px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.learned-1-title,
.learned-2-title,
.learned-3-title,
.learned-4-title,
.learned-5-title,
.work-1-title,
.work-2-title,
.work-3-title,
.work-4-title,
.work-5-title {
    height: 90px;
    text-align: center;
    color: #bababa;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
}