@font-face {
    font-family: "源泉丸ゴシック";
    src: url("./fonts/GenSenRounded-B.ttc");
}

body {
    padding-top: 60px;
    background-color: #101419;
    font-family: "源泉丸ゴシック";
}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #2d313c;
    padding: 20px 10px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header h1 {
    padding-left: 30px;
    color: #6ae3f9;
    font-size: 35px;
}

header #clock {
    font-size: 35px;
    letter-spacing: 3px;
    color: #b1b1b1;
    width: 100%;
    position: fixed;
    text-align: center;
}

.card-1 {
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    margin: 50px;
}

.card-1 .profile-card {
    width: 25%;
    background-color: #424454;
    border-radius: 15px;
}

.card-1 .profile-card .banner {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 15vw;
    width: 100%;
    object-fit: cover;
}

.card-1 .profile-card .icon {
    border-radius: 50%;
    width: 30%;
    margin-left: 10%;
    margin-top: -15%;
    border: solid 3px #3a4048;
    border-right: solid 1px #3a4048;
    border-top: solid 1px #3a4048;
}

.card-1 .profile-card .status {
    font-size: 30px;
    color: #bababa;
    margin-left: 15%;
    margin-top: 15px;
}

.card-1 .profile-card .status-sub {
    font-size: 16px;
    color: #55828a;
    margin-left: 55px;
    margin-top: -38px;
}

.card-1 .profile-card .status-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #409eff;
    margin-top: 20px;
}

.card-1 .profile-card .status .status-main {
    font-size: 25px;
    color: #bababa;
    margin-left: 55px;
    margin-top: -12px;
    display: block;
}


.card-1 .profile-card .twitter {
    font-size: 30px;
    color: #bababa;
    margin-left: 15%;
    padding-bottom: 20px;
}

.card-1 .profile-card .twitter .twitter-logo {
    width: 30px;
    border-radius: 50%;
}

.card-1 .profile-card .twitter .twitter-sub {
    font-size: 16px;
    color: #55828a;
    margin-left: 55px;
    margin-top: -38px
}

.card-1 .profile-card .twitter .twitter-link {
    font-size: 25px;
    color: #bababa;
    margin-left: 55px;
    margin-top: -12px;
    display: block;
}

.card-1 .profile-card .twitter .twitter-link a {
    color: inherit;
    text-decoration: none;
}

.card-1 .bio-card {
    background-color: #424454;
    width: 45%;
    border-radius: 15px;
    padding: 25px;
    padding-top: -25px;
    display: flex;
    flex-direction: column;
}

.card-1 .bio-card .bio-title {
    font-size: 16px;
    color: #55828a;
    margin: 0px 0px;
}

.card-1 .bio-card .bio-content {
    color: #bababa;
    letter-spacing: 0.6px;
    line-height: 25px;
}